	<div class="footer">
	        <div class="container">
				<div class="row">
						<div class="col-md-4"><br/><a href="https://discord.gg/W6PMdQn" target="_blank">Discord des Moches &nbsp;<span class="glyphicon glyphicon-new-window"></span></a><br/></div>
						<div class="col-md-4"><br/><a href="mailto:alefebvremichel@gmail.com">Contact &nbsp;<span class="glyphicon glyphicon-envelope"></span></a><br/></div>
						<div class="col-md-4"><br/><a href="bureaudesplaintes.gif">Bureau des Plaintes &nbsp;</a><br/></div>
				</div>
			</div>
	</div>

	<!-- /.container -->
	<!-- jQuery -->
	<script src="js/jquery.js"></script>
	<!-- Bootstrap Core JavaScript -->
	<script src="js/bootstrap.min.js"></script>
	<script src="js/bootstrap-slider.min.js"></script>

</body>
</html>
