{{> header}}
<div class="container bglisible">
  <br>
  <div class ="row">
      <div class ="col-md-12 whiten">
    Soyez les bienvenus sur Terre Tiret Plate Dotcom (TPD) bande de fils de putes de touristes intergalactiques ! JE VOUS DÉTESTE !!!
    </div></div>
    <div class="row">
      <br>
      <div class="col-md-12">
        <img class="img-responsive" src="chaton1.jpg" alt="TACHATTETACHATTE" width="1920" height="1080"/>
      </div>
    </div>
    <div class="row">
      <br>
      <div class="col-md-12">
        <img class="img-responsive" src="chaton2.jpg" alt="TACHATTETACHATTE" width="1920" height="1080"/>
      </div>
    </div>
  </div>
<br>
<br>
<br>
<br>
{{> footer }}
